@model WebPreisBerechnungAuB.Models.ExtraCharge

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ExtraCharge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ChargeName" class="control-label"></label>
                <input asp-for="ChargeName" class="form-control" />
                <span asp-validation-for="ChargeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChargePrice" class="control-label"></label>
                <input asp-for="ChargePrice" class="form-control" />
                <span asp-validation-for="ChargePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChargeTyp" class="control-label"></label>
                <input asp-for="ChargeTyp" class="form-control" />
                <span asp-validation-for="ChargeTyp" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isOneTimeCharge" /> @Html.DisplayNameFor(model => model.isOneTimeCharge)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

