@{
    ViewData["Title"] = "Designer";
    Layout = null;
}


<div class="text-center">




    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>

        @*onsubmit="return jQueryAjaxPost(this)*@


        <div class="custom-file">
            <input type="file" onchange="return SendJsonData('SaveImage')" class="custom-file-input" id="inputGroupFile01" name="file" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            <input type="hidden" name="Image" id="Image" />
        </div>
        



    </div>


 
    <button onclick="uploadToTextil()" type="button" class="btn btn-primary mb-5" data-bs-dismiss="modal"> Place on Textil</button>
    
    
    <button onclick="SendJsonData('RemoveBackground')" id="removeBg" type="button" class="btn btn-primary mb-5" data-bs-dismiss="modal"> Remove White Background</button>



    <br />

    <canvas width="400" style='height: 100%; width: 100%; background-image: url("https://raw.githubusercontent.com/fengyuanchen/cropperjs/main/src/images/bg.png"); object-fit: contain' height="400" id="imgShow"  />
